<div class="content">
    <h1>About</h1>
    <p><i>Todoer</i> is a a web application where you can store future <i>todo tasks</i>. After you have finished these tasks, you can then remove them from your list by clicking on their respective "Done" button.</p>

    <h2>Docker</h2>
    <p>The website is built using 4 Docker containers. The web application uses a <b><i>Node.js Container</i></b>, which makes use Handlebarsjs and Express to handle the website routing.
        Another container inside Todoer is the <b><i>MySQL Container</i></b> which stores all of our user data, such as accounts and the todo tasks.
        The third container inside our project is the <b><i>Redis Container</i></b> which quickly and efficiently stores our session data, since Redis makes use of caching it is much faster at retrieving this data in comparison to MySQL.
        Lastly we have our <b><i>NGINX Container</i></b> which serves the static HTML, CSS and Javascript for our SPA page, which is running on localhost:80!
    </p>