<div class="content">
    <h2>Sign up</h2>
    <p>Sign up using the form below.</p>
    {{#if successful}}
    <article class="message is-success">
        <div class="message-body">
            <p>Account was succesfully created!</p>
        </div>
    </article>
    {{/if}}

    {{#if error}}
    <article class="message is-danger">
        <div class="message-body">
            <p>{{error}}</p>
        </div>
    </article>
    {{/if}}
</div>

<form method="POST" action="sign-up">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="email" class="input is-large" placeholder="Email" name="email" required="required"
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,14}$">
    <input type="email" class="input is-large" placeholder="Verify Email" name="verifyEmail" required="required"
        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,14}$">
    <input type="password" class="input is-large" placeholder="Password" name="password" required="required">
    <input type="password" class="input is-large" placeholder="Verify Password" name="verifyPassword"
        required="required">
    <div id="login-button-container">
        <button class="button is-warning" id="login-button">Sign up!</button>
    </div>
</form>