{{#if successful}}
<article class="message is-success">
    <div class="message-body">
        <p>Task was successfully added!</p>
    </div>
</article>
{{/if}}

{{#if errorMessage}}
<article class="message is-danger">
    <div class="message-body">
        <p>{{errorMessage}}</p>
    </div>
</article>
{{/if}}
<header class="modal-card-head">
    <p class="modal-card-title">Add Todo!</p>
</header>

<section class="modal-card-body">
    <form action="add-todo" method="POST">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" placeholder="Title" name="title" required="required" maxlength="50"
                    value="{{previousTitle}}">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <input class="input" placeholder="Description" name="description" maxlength="100"
                    value="{{previousDescription}}">
            </div>
        </div>

        <button class="button is-warning width-100" id="modal-add-todo-button">Add Todo</button>
    </form>
</section>